/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/.idea/.idea.wealthSimple.dir/.idea/aws.xml
/.idea/.idea.wealthSimple.dir/.idea/indexLayout.xml
/obj/project.packagespec.json
/.idea/.idea.wealthSimple.dir/.idea/projectSettingsUpdater.xml
/obj/rider.project.model.nuget.info
/obj/rider.project.restore.info
/obj/Debug/net7.0/wealthSimple.AssemblyInfo.cs
/obj/Debug/net7.0/wealthSimple.AssemblyInfoInputs.cache
/obj/Debug/net7.0/wealthSimple.assets.cache
/obj/Debug/net7.0/wealthSimple.csproj.AssemblyReference.cache
/obj/Debug/net7.0/wealthSimple.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net7.0/wealthSimple.GlobalUsings.g.cs
/.idea/.idea.wealthSimple.dir/.idea/workspace.xml
